$light-1: #ffe4d2;
$light-2: #c5b0a2;
$light-3: #8a7c72;
$dark-3: #403c3b;
$dark-2: #2a2827;
$dark-1: #151312;

$neutral: #ffe4d2;
$orange: #ff752a;
$blue: #1034e9;
$red: #ff3a3a;
$yellow: #ffd224;
$purple: #d946e6;
$green: #10e951;
