@font-face {
    font-family: "CabinetGrotesk";
    src: url("/fonts/CabinetGrotesk-Variable.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Switzer";
    src: url("/fonts/Switzer-Variable.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Switzer";
    src: url("/fonts/Switzer-VariableItalic.ttf") format("truetype");
    font-weight: 100 900;
    font-style: italic;
}
