@font-face {
  font-family: "CabinetGrotesk";
  src: url("/fonts/CabinetGrotesk-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Switzer";
  src: url("/fonts/Switzer-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Switzer";
  src: url("/fonts/Switzer-VariableItalic.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
  transition: all ease-out 150ms;
  align-items: baseline;
  scroll-behavior: smooth;
  gap: 1rem;
}
*::selection {
  border-radius: 0.5rem;
  background-color: #1034e9;
  color: #ffe4d2;
}

table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

:root {
  --light-1: #ffe4d2;
  --light-2: #c5b0a2;
  --light-3: #8a7c72;
  --dark-3: #403c3b;
  --dark-2: #2a2827;
  --dark-1: #151312;
  --neutral: #ffe4d2;
  --neutral-darker: rgb(127.03, 115.44, 108.83);
  --neutral-lighter: #ffe4d2;
  --orange: #ff752a;
  --orange-darker: rgb(127.03, 78.81, 53.39);
  --orange-lighter: rgb(255, 191.37, 154.56);
  --blue: #1034e9;
  --blue-darker: rgb(48.16, 57.36, 116.42);
  --blue-lighter: rgb(176.13, 169.92, 217.59);
  --red: #ff3a3a;
  --red-darker: rgb(127.03, 59.34, 58.67);
  --red-lighter: rgb(255, 171.9, 159.84);
  --yellow: #ffd224;
  --yellow-darker: rgb(127.03, 109.5, 51.41);
  --yellow-lighter: rgb(255, 222.06, 152.58);
  --purple: #d946e6;
  --purple-darker: rgb(114.49, 63.3, 115.43);
  --purple-lighter: rgb(242.46, 175.86, 216.6);
  --green: #10e951;
  --green-darker: rgb(48.16, 117.09, 66.26);
  --green-lighter: rgb(176.13, 229.65, 167.43);
  --max-width: 1372px; /* 85.75rem */
  --min-height: 1120px; /* 70rem */
  --col-width: 5.3125rem;
  --col-spacing: 2rem;
  font-size: 16px;
  background: var(--dark-1);
  color: var(--light-2);
  font-family: "Switzer", "Inter", sans-serif;
  letter-spacing: 0.4px;
  line-height: 150%;
  font-weight: 400;
}

body {
  width: 100%;
  min-height: 100%;
  transition: none;
  overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
.fake-h {
  scroll-margin-top: 8rem;
  color: var(--light-1);
  font-family: "CabinetGrotesk", serif;
  line-height: 130%;
  width: 100%;
  font-weight: 700;
}
h1 .permalink,
h2 .permalink,
h3 .permalink,
h4 .permalink,
h5 .permalink,
h6 .permalink,
.fake-h .permalink {
  opacity: 0;
}
h1:hover .permalink,
h2:hover .permalink,
h3:hover .permalink,
h4:hover .permalink,
h5:hover .permalink,
h6:hover .permalink,
.fake-h:hover .permalink {
  opacity: 1;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.2rem;
}

.m-1 {
  margin-bottom: 0.125rem;
}

.m-2 {
  margin-bottom: 0.25rem;
}

.m-3 {
  margin-bottom: 0.5rem;
}

.m-4 {
  margin-bottom: 1rem;
}

.m-5 {
  margin-bottom: 2rem;
}

.fake-h {
  font-size: 1.5rem;
}

.large {
  font-size: 1.25rem;
}

.small {
  font-size: 0.75rem;
}

.tag {
  text-transform: uppercase;
  line-height: 0.75rem;
  font-weight: bold;
  color: var(--light-3);
}

.fancy {
  font-style: italic;
}

a {
  color: var(--orange);
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 8%; /* 1.28px */
  text-underline-offset: 12.5%; /* 2px */
  text-underline-position: from-font;
}
a.no-accent {
  color: var(--light-1);
}
a.no-decoration {
  text-decoration: none;
}
a:hover {
  color: var(--orange-lighter);
}

p.lead {
  font-weight: 600;
}
p.large {
  font-size: 1.25rem;
}
p.small {
  font-size: 0.75rem;
}

.max-width {
  flex: 1;
  width: 100%;
  max-width: var(--max-width);
}

.max-width-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.row.compact,
.column.compact {
  border-radius: 0.5rem;
  gap: 0.125rem;
}
.row.compact > *,
.column.compact > * {
  border-radius: 0 !important;
}

.spaced-between {
  justify-content: space-between;
}

.label {
  color: var(--orange);
}

.table {
  border-radius: 0.5rem;
}

.thead {
  background-color: var(--dark-3);
}

ul,
ol {
  list-style-position: inside;
}

ul li p,
ol li p {
  display: inline;
}

.roleplaying h1,
.roleplaying h2,
.roleplaying h3,
.roleplaying h4,
.roleplaying h5,
.roleplaying h6 {
  margin-top: 2rem;
}

.card {
  width: auto;
  height: auto;
  padding: 2rem;
  background-color: var(--dark-2);
  border-radius: 0.5rem;
}

.compendium-table * {
  transition: none !important;
}

/*# sourceMappingURL=styles.css.map */
